<ion-header>
  <ion-toolbar>
    <ion-title>My Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Movie Name Input -->
  <ion-item>
    <ion-label position="floating">Movie Name</ion-label>
    <ion-input [(ngModel)]="movieName" required></ion-input>
  </ion-item>

  <!-- Release Year Input -->
  <ion-item>
    <ion-label position="floating">Release Year</ion-label>
    <ion-input [(ngModel)]="releaseYear" required></ion-input>
  </ion-item>

  <!-- Add Movie Button -->
  <ion-button expand="full" (click)="addMovie()">Add Movie</ion-button>

  <!-- Segment for Filter Options -->
  <ion-segment [(ngModel)]="selectedFilter" (ionChange)="filterMovies()">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="watched">
      Watched
    </ion-segment-button>
    <ion-segment-button value="unwatched">
      Unwatched
    </ion-segment-button>
  </ion-segment>

  <!-- Movies List -->
  <ion-list>
    <ng-container *ngFor="let movie of filteredMovies; let i = index">
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>{{ movie.name }}</h2>
            <p>{{ movie.year }}</p>
          </ion-label>
          <ion-checkbox slot="start" [(ngModel)]="movie.isWatched" (ionChange)="filterMovies()"></ion-checkbox>
        </ion-item>
        <ion-button (click)="openEditModal(i)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteMovie(i)">Delete {{ movie.name }}</ion-button>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <!-- Error Message Display -->
  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>
